<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <!-- favicon  -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- font googleapis -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/header-footer.css">

    <!-- Title -->
    <title>Gotjeh Tempat Kursus</title>
</head>

<body>
    <% if (session.token) { %>
    <%- include("../partials/navbar-user.ejs") %>
    <% } else { %>
    <%- include("../partials/navbar.ejs") %>
    <% } %>

    <!-- Jumbotron -->
    <section class="jumbotron jumbotron-fluid">
        <div class="box-container">
            <div class="col-12">
                <h3 class="get-job text-capitalize">Yuk, Tingkatkan Keterampilanmu Sekarang!</h3>
                <p class="dscrb-title">Daripada nganggur di rumah, mending belajar hal-hal baru di
                    sini deh! <br>
                    Semuanya gratis dan bisa diakses kapan aja</p>

                <form action="/course" method="GET">
                    <div class="row justify-content-center">
                        <div class="bar-srch">
                            <input type="text" name="search" placeholder="masukkan minimal 3 karakter">
                            <input type="submit" value="" style="display: none;">
                        </div>
                    </div>
                </form>

                <div class="row justify-content-center pd-shorts">
                    <p class="shortby mr-3 my-auto">Kategori:</p>
                    <button class="btn btn-outline-light shorts mr-3" onclick="location.href='/course'">Semua</button>
                    <% for( let index=0; index < categories.length; index++ ) { %>
                    <button class="btn btn-outline-light shorts mr-3"
                        onclick="location.href='/course?category=<%= categories[index].id %>'">
                        <%= categories[index].name %>
                    </button>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Jumbotron -->

    <!-- List Course -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 popular-course"></div>
            <div class="row">
                <% for( let i=0; i < result.length; i++ ) { %>
                <div class="col-3 course">
                    <a href="/course/detail/<%= result[i].id %> "><img src="/img/<%= result[i].thumbnail %>"
                            class="card-img-top" alt="Image course"></a>
                    <div class="card-body">
                        <div class="row">
                            <% if (result[i].price==0){ %>
                            <div class="col-4 free">
                                <p>Gratis</p>
                            </div>
                            <% } else { %>
                            <div class="col-4 free">
                                <p>Premium</p>
                            </div>
                            <div class="col-5 free">
                                <p>Rp <%= result[i].price %></p>
                            </div>
                            <% } %>
                        </div>
                        <h5 class="card-title"><a href="/course/detail/<%= result[i].id %>" class="text-dark">
                                <%= result[i].title %>
                            </a></h5>
                    </div>
                </div>
                <% } %>

            </div>
        </div>
    </div>
    </div>
    <!-- End of List Course -->

    <%- include("../partials/footer.ejs") %>
</body>

</html>