<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <!-- favicon  -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- font googleapis -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/deskripsi-course.css">
    <link rel="stylesheet" href="/css/header-footer.css">

    <!-- Title -->
    <title>Gotjeh: Ayo Belajar</title>
</head>

<body>
    <% if (session.token) { %>
        <%- include("../partials/navbar-user.ejs") %>
            <% } else { %>
                <%- include("../partials/navbar.ejs") %>
                    <% } %>

                        <!-- Jumbotron + Foto + Title + Button -->
                        <section class="jumbotron">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-7 desc">
                                        <div class="row">
                                            <div class="desk-course text-center">
                                                <p class="title">
                                                    <%= result.title %>
                                                </p>
                                            </div>
                                            <div class="gambar-desk">
                                                <img class="gmbr" src="/img/<%= result.thumbnail %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End of Jumbotron -->

                        <!-- Deskripsi Kelas -->
                        <section class="deskripsi-kelas">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <% if (!session.token) { %>
                                        <div class="btn-desk">
                                            <a href="/login" class="btn btn-mulai">Mulai Kelas</a>
                                        </div>
                                        <% } else { %>
                                            <% if (result.price==0) { %>
                                                <div class="btn-desk">
                                                    <form action="/course/enroll/<%= result.id %>" method="post">
                                                        <input class="btn btn-mulai" type="submit" value="Mulai Kelas">
                                                    </form>
                                                </div>
                                                <% } else { %>
                                                    <div class="btn-desk">
                                                        <a href="https://api.whatsapp.com/send?phone=6282148115692"
                                                            class="btn btn-mulai">Mulai Kelas</a>
                                                    </div>
                                                    <% } %>
                                                        <% } %>
                                                            <div class="col-10 descript">
                                                                <div class="row">
                                                                    <div class="col-10.5 desc">
                                                                        <h3>Deskripsi Kelas</h3>
                                                                        <p class="deskripsi">
                                                                            <%= result.description %>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-10 isi-deskripsi">
                                                                <div class="row">
                                                                    <div class="col-10.5 desc">
                                                                        <h3>Materi Kelas</h3>
                                                                        <% for( let a=0; a <
                                                                            result.course_sections.length; a++ ) { %>
                                                                            <p>
                                                                                <%= (a+1) + '. ' +
                                                                                    result.course_sections[a].name %>
                                                                            </p>
                                                                            <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                </div>
                            </div>
                        </section>
                        <!-- End of Deskripsi Kelas -->

                        <%- include("../partials/footer.ejs") %>
</body>

</html>