<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <!-- favicon  -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- font googleapis -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/job.css">
    <link rel="stylesheet" href="/css/header-footer.css">

    <!-- Title -->
    <title>Gotjeh: Kerja! Kerja!</title>
</head>

<body>
    <% if (session.token) { %>
    <%- include("../partials/navbar-user.ejs") %>
    <% } else { %>
    <%- include("../partials/navbar.ejs") %>
    <% } %>

    <!-- Jumbotron -->
    <section class="jumbotron jumbotron-fluid">
        <div class="box-container">
            <div class="col-12">
                <h3 class="get-job text-capitalize">Dapatkan Pekerjaan Sekarang!</h3>
                <p class="dscrb-title">Tunggu apa lagi? Yuk bekerja sekarang!</p>

                <div class="row justify-content-center">
                    <div class="bar-srch">
                        <input type="text" name="Search" placeholder="masukkan minimal 3 karakter">
                    </div>
                </div>

                <div class="row justify-content-center pd-shorts">
                    <p class="shortby mr-3 my-auto">Kategori:</p>
                    <button class="btn btn-outline-light shorts mr-3">Semua</button>
                    <button class="btn btn-outline-light shorts mr-3">Desain</button>
                    <button class="btn btn-outline-light shorts">Digital Marketing</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Jumbotron -->

    <!-- Ask -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="row">
                    <div class="col post-job">
                        <p class="up">Ingin cari tenaga freelance yang kamu butuhkan?</p><br>
                        <a href="/post-job"><button class="btn btn-post">Klik Disini!</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Ask -->

    <!-- List Job -->
    <div class="container">
        <% for( let index = 0; index < result.length; index++ ) { %>
        <div class="row job-list">
            <div class="col-2 pict-list">
                <img src="/img/<%= result[index].thumbnail %>" alt="thumbnail-job" class="img-job"
                style="height: 170px; width: 190px;">        
            </div>
            <div class="col-10 desc-list">
                <p class="title"><%= result[index].job_name %></p>
                <p class="desc"><%= result[index].content %></p>
                <p><a class="view-more" href="/job/detail/<%= result[index].id %>">Selengkapnya</a></p>
                <p class="salary">Rp <%= result[index].fee %></p>
                <p class="category"><%= result[index].category_id %></ap>
                <button  class="btn btn-daftar" href="<%= result.category_id %>">Lamar Sekarang</button>
            </div>
        </div>
        <% } %>
    </div>
    <!-- <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="card mb-3 shadow bg-body rounded" style="max-width: 100%; border-radius: 10px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="/img/image-job-2.png" alt="..." style="height: 260px; width: 280px;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Membutuhkan Freelancer untuk mengelola akun sosial media
                            </h5>
                            <p class="card-text">Saya membutuhkan seseorang yang bisa membantu saya dalam
                                membuat
                                tampilan website dan
                                aplikasi mobile. Website yang akan dibuat merupakan website dan aplikasi
                                mobile
                                e-commerce yang
                                menjual mainan anak - anak, konsep desain yang ingin kami tonjolkan...</p>
                            <a href="#" class="btn btn-outline-light text-dark mb-3 shadow bg-body rounded">Rp
                                8.000.000</a>
                            <a href="#"
                                class="btn btn-outline-light text-dark mb-3 shadow bg-body rounded">Desain</a><br>
                            <a href="/job/detail" class="btn btn-warning" style="width: 120px;">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="card mb-3 shadow bg-body rounded" style="max-width: 100%; border-radius: 10px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="/img/image-job-3.png" alt="..." style="height: 260px; width: 280px;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Membutuhkan Freelancer untuk membuat tampilan web dan
                                aplikasi</h5>
                            <p class="card-text">Saya membutuhkan seseorang yang bisa membantu saya dalam
                                membuat
                                tampilan website dan
                                aplikasi mobile. Website yang akan dibuat merupakan website dan aplikasi
                                mobile
                                e-commerce yang
                                menjual mainan anak - anak, konsep desain yang ingin kami tonjolkan...</p>
                            <a href="#" class="btn btn-outline-light text-dark mb-3 shadow bg-body rounded">Rp
                                8.000.000</a>
                            <a href="#"
                                class="btn btn-outline-light text-dark mb-3 shadow bg-body rounded">Desain</a><br>
                            <a href="/job/detail" class="btn btn-warning" style="width: 120px;">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="card mb-3 shadow bg-body rounded" style="max-width: 100%; border-radius: 10px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="/img/image-job-4.png" alt="..." style="height: 260px; width: 280px;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Membutuhkan Tutor Freelance untuk kursus bahasa inggris
                            </h5>
                            <p class="card-text">Saya memiliki seorang anak berusia 5 tahun, saya ingin
                                mengajarkan
                                bahasa inggris kepada
                                anak saya, namun sayangnya saya tidak bisa berbahasa inggris. Jadi saya
                                harap saya bisa
                                menemukan
                                tutor bahasa inggris freelance. Gaji yang saya tawarkan adalah sebesar 4
                                juta...</p>
                            <a href="#" class="btn btn-outline-light text-dark mb-3 shadow bg-body rounded">Rp
                                3.000.000</a>
                            <a href="#"
                                class="btn btn-outline-light text-dark mb-3 shadow bg-body rounded">Semua</a><br>
                            <a href="/job/detail" class="btn btn-warning" style="width: 120px;">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- List Job -->

    <!-- job empty -->
    <!-- <section class="empty-room">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg">
                                <p class="sorry">Sayang sekali, pekerjaan yang kamu cari<br>belum tersedia.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <img src="/img/box-1.svg" class="box">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- End of job empty -->

    <%- include("../partials/footer.ejs") %>
</body>

</html>