<!DOCTYPE html>
<html>

<head>
    <title>Gotjeh: Tempat Belajar!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link href="/css/isi-course.css" rel="stylesheet">

</head>

<body>
    <div class="sidenav">
        <!-- Head (Logo & Burger Button) -->
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#"><img src="/img/logo.png" style="height: 50px; width: 109px;"
                    title="Gotjeh"></a>
            <!-- Burger Button & Dropdown -->
            <div class="dropdown">
                <img src="/img/burger-button.png" onclick="myFunction()" class="dropbtn">
                <div id="myDropdown" class="dropdown-content">
                    <a href="/">Beranda</a>
                    <a href="/job">Pekerjaan</a>
                    <a href="/course">Kursus</a>
                    <a href="/faq">F.A.Q</a>
                    <a href="/logout">Keluar</a>
                </div>
            </div>
        </div>
        <!-- End of Head -->

        <!-- Materi -->
        <div class="materi">
            <h6><b>Materi</b></h6>
            <div class="row">
                <nav class="col left">
                    <ul class="nav flex-column">
                        <% for( let index in result.course_sections ) { %>
                            <% if (index==0) { %>
                                <li><a href="#<%= 'form-' + index %> " class="nav-link current text-white my-2 activ"
                                        data-toggle="tab">
                                        <%= result.course_sections[index].name %>
                                    </a></li>
                                <% } else {%>
                                    <li><a href="#<%= 'form-' + index %> " class="nav-link text-white my-2"
                                            data-toggle="tab">
                                            <%= result.course_sections[index].name %>
                                        </a></li>
                                    <% } %>
                                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Copyright -->
        <div id="footer">
            <center>
                <p>Copyright ©
                    <script>document.write(new Date().getFullYear());</script> Gotjeh
                </p>
            </center>
        </div>
        <!-- End of Copyright -->

    </div>

    <div class="row main">
        <div class="col right">
            <div class="tab-content flex-center">

                <% for( let index in result.course_sections ) { %>
                    <% if (index==0) { %>
                        <div class="tab-pane fade show activ" id="<%= 'form-' + index %> ">
                            <div class="typeform-widget"
                                data-url="https://form.typeform.com/to/rlwcUnqw?typeform-medium=embed-snippet"
                                data-transparency="50" data-hide-headers="true" data-hide-footer="true"
                                style="width: 100%; height: 500px;"></div>
                        </div>
                        <% } else { %>
                            <div class="tab-pane fade show" id="<%= 'form-' + index %> ">
                                <div class="typeform-widget"
                                    data-url="https://form.typeform.com/to/rlwcUnqw?typeform-medium=embed-snippet"
                                    data-transparency="50" data-hide-headers="true" data-hide-footer="true"
                                    style="width: 100%; height: 500px;"></div>
                            </div>
                            <% } %>
                                <% } %>

            </div>
        </div>
    </div>
    <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
    <script>
        // Script For Burger Button
        /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Internal JavaScript -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul li a").click(function () {
                $("li a").removeClass('activ');
                $(this).addClass('activ');
            });
        });
    </script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>